---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import NuestrosServicios from '../components/NuestrosServicios.astro';
import QueEs from '../components/QueEs.astro';
import Modalpublicar from '../components/Publicar.astro';
import Publicidad from '../components/Publicidad.astro';
import Contacto from '../components/Contacto.astro';
import Denuncia from '../components/Denunciar.astro'
import Landing from '../components/Landing.astro';
import Search from '../components/Search.astro';
import Filtro from '../components/Filtro.astro';
import Card from '../components/Cards.astro';
import Pago from '../components/Metodospagos.astro';
import DiasyHorarios  from '../components/DiasHorarios.astro'
import Footer from '../components/Footer.astro';
import { cards } from '../data/cards';
import Signin from '../components/signin.astro';

---

<Layout>
  <Navbar />
  <Contacto />
  <Denuncia />
  <Signin />
  <NuestrosServicios />
  <QueEs />
  <Publicidad />
  <Modalpublicar />
  <Landing />
  <Filtro />
  <Search />
  <div id="cards-container" class="grid grid-cols-2 ml-10 mt-10">
    {cards.map((card) => (
      <Card card={card} />  
    ))}
  </div>
  <Pago />
  <DiasyHorarios />
  <Footer />
</Layout>

