
---
import Layout from "../layouts/Layout.astro"
---

<Layout>

    <div class="bg-black text-gray-800 p-6">
        <div class="max-w-4xl mx-auto bg-gray-900 shadow-lg rounded-lg p-8 border border-gray-700 shadow-gray-950">
            <a href="/" class="cursor-pointer hover:opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 512 512">
                    <path fill="#555" d="M497.333 239.999H80.092l95.995-95.995l-22.627-22.627L18.837 256L153.46 390.623l22.627-22.627l-95.997-95.997h417.243z"/>
                </svg>
            </a>
            <div class="flex justify-center mb-5">
                <img src="../../public/IMGs/logo.png" alt="logo" class="shadow-md shadow-gray-950 w-28 h-28 border-2 border-cyan-700 rounded-full">
            </div>
    
            <h1 class="text-3xl font-bold text-center text-gray-600 mb-6">TÉRMINOS Y CONDICIONES</h1>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">1. Introducción</h2>
            <p class="text-gray-600">Bienvenid@ a <strong>Mercados Unidos Santa Elena</strong>. Estos Términos y Condiciones regulan el uso de nuestro sitio web y servicios. Al acceder y utilizar nuestra plataforma, aceptas cumplir con estos términos en su totalidad. Si no estás de acuerdo, te pedimos que no uses nuestros servicios.</p>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">2. Uso del Sitio Web</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>El contenido de este sitio es solo para información general y está sujeto a cambios sin previo aviso.</li>
                <li>No garantizamos que la información proporcionada en el sitio sea precisa, completa o actualizada.</li>
                <li>Queda prohibido el uso indebido del sitio, incluyendo el acceso no autorizado, ataques informáticos o cualquier actividad ilegal.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">3. Datos de Usuarios</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Para acceder a ciertos servicios, es posible que necesites proporcionar información personal precisa y veraz.</li>
                <li>No somos responsables de la confidencialidad de los datos que nos proporcionas. Jamás te pediremos datos que comprometan tu integridad moral o de índole económico, como datos bancarios o de tarjetas de crédito.</li>
                <li>Nos reservamos el derecho de suspender o cancelar publicaciones, cuentas o usuarios si consideramos que han hecho un uso indebido del servicio.</li>
            </ul>
    
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">4. Publicaciones y Publicidad</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>La publicación de comercios en nuestro sitio es gratuita y no implica ningún costo para los dueños de negocios.</li>
                <li>Ofrecemos espacios publicitarios en forma de banners, los cuales tienen un costo y pueden estar sujetos a disponibilidad.</li>
                <li>Nos reservamos el derecho de rechazar o eliminar cualquier publicación que consideremos inapropiada o que no cumpla con nuestras políticas.</li>
            </ul>
    
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">5. Compras y Pagos</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Los pagos por espacios publicitarios (banners) deben realizarse de acuerdo con las condiciones acordadas.</li>
                <li>Nos reservamos el derecho de modificar precios y condiciones de pago en cualquier momento.</li>
            </ul>
    
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">6. Política de Devoluciones y Reembolsos</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Los pagos por espacios publicitarios no son reembolsables una vez confirmada la contratación.</li>
                <li>En caso de problemas técnicos que impidan la visualización de los banners, se podrá evaluar una compensación o reubicación.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">7. Propiedad Intelectual</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Todo el contenido del sitio, incluyendo textos, imágenes, logotipos y diseños, no debe violar derechos de autor y propiedad intelectual.</li>
                <li>No está permitida la reproducción, distribución o modificación del contenido sin autorización previa.</li>
            </ul>
    
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">8. Política de Buena Conducta e Infracciones (Denuncias)</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Los usuarios cuentan con un canal para denunciar timos o estafas por parte de un actor que haya publicado un comercio o servicio en la página. Si la denuncia es efectiva y se comprueba la infracción, se evaluará la situación y se tomarán medidas, que podrían incluir la eliminación del negocio de nuestra aplicación.</li>
                <li>Los usuarios también pueden denunciar la inactividad de un negocio publicado. Si se comprueba dicha inactividad, se procederá a eliminar la publicación.</li>
                <li>En casos menos graves, MUSE implementa un sistema de sanción donde los usuarios pueden denunciar a los actores comerciales dentro de la plataforma, aportando pruebas. Si se comprueba la veracidad de la denuncia, se aplicará un strike. Al acumular 3 strikes, se procederá a la suspensión, baneo temporal o eliminación de la cuenta, según corresponda.</li>
                <li>Los comerciantes y prestadores de servicios que reciban una denuncia serán notificados y tendrán derecho a réplica. Esto determinará si se aplica o no una sanción.</li>
                <li>No todo es denunciable en esta plataforma. Solo se podrán denunciar cuestiones que afecten al usuario y donde nuestro servicio pueda verse implicado, como estafas. No se considerarán denunciables los conflictos comerciales cotidianos entre usuarios y comerciantes.</li>
                <li>La empresa se reserva el derecho de sancionar o eliminar a las empresas publicadas en MUSE si, una vez evaluado el caso, se determina que es lo justo, sin derecho a réplica.</li>
            </ul>
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">9. Limitación de Responsabilidad</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>No nos hacemos responsables por daños directos o indirectos derivados del uso del sitio o de la imposibilidad de acceder al mismo.</li>
                <li>No garantizamos que el sitio esté libre de errores o interrupciones.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">10. Enlaces a Terceros</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Nuestro sitio puede contener enlaces a otros sitios web. No tenemos control sobre su contenido y no somos responsables de sus términos o políticas de privacidad.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">11. Modificaciones a los Términos</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios serán efectivos una vez publicados en el sitio.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">12. Contacto</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Si tienes alguna pregunta sobre estos Términos y Condiciones, puedes contactarnos en <strong>mercadosunidos_se@gmail.com</strong>.</li>
            </ul>
        </div>
    </div>
    
</Layout>




<!-- User
Dijiste:
corregime la narracion, si hay algo que sea repetitivo mejoralo, y la puntuacion o errores ortograficos: TÉRMINOS Y CONDICIONES
1. Introducción
Bienvenid@ a Mercados Unidos Santa Elena. Estos Términos y Condiciones regulan el uso de nuestro sitio web y servicios. Al acceder y utilizar nuestra plataforma, aceptas cumplir con estos términos en su totalidad. Si no estás de acuerdo, te pedimos que no uses nuestros servicios.

2. Uso del Sitio Web
El contenido de este sitio es solo para información general y está sujeto a cambios sin previo aviso.
No garantizamos que la información proporcionada en el sitio sea precisa, completa o actualizada.
Queda prohibido el uso indebido del sitio, incluyendo el acceso no autorizado, ataques informáticos o cualquier actividad ilegal.
3. Datos de Usuarios
Para acceder a ciertos servicios, es posible que necesites proporcionar información personal precisa y veraz.
No somos responsables de la confidencialidad de los datos que nos proporcionas. Jamas te pediremos datos que comprometan tu integridad moral, o de indole economico, como datos bancarios, de tarjetas de credito, etc.
Nos reservamos el derecho de suspender o cancelar publicaciones, cuentas o usuarios si consideramos que han echo un uso indebido del servicio.
4. Publicaciones y Publicidad
La publicación de comercios en nuestro sitio es gratuita y no implica ningún costo para los dueños de negocios.
Ofrecemos espacios publicitarios en forma de banners, los cuales tienen un costo y pueden estar sujetos a disponibilidad.
Nos reservamos el derecho de rechazar o eliminar cualquier publicación que consideremos inapropiada o que no cumpla con nuestras políticas.
5. Compras y Pagos
Los pagos por espacios publicitarios (banners) deben realizarse de acuerdo con las condiciones acordadas.
Nos reservamos el derecho de modificar precios y condiciones de pago en cualquier momento.
6. Política de Devoluciones y Reembolsos
Los pagos por espacios publicitarios no son reembolsables una vez confirmada la contratación.

En caso de problemas técnicos que impidan la visualización de los banners, se podrá evaluar una compensación o reubicación.

7. Propiedad Intelectual
Todo el contenido del sitio, incluyendo textos, imágenes, logotipos y diseños, no debe violar derechos de autor y propiedad intelectual.

No está permitida la reproducción, distribución o modificación del contenido sin autorización previa.

7. Política de buena conducta e infracciones
A saber que los usuarios cuando con un canal para denunciar timos o estafas por parte de un actor que haya publicado un comercio o servicio en la página, si dicha denuncia llegase a ser efectiva osea si la el denunciante pueden comprobar la infraccion, se evaluará dicha acción y se tomaran medidas acordes que podrian incluso en el peor de los casos dereibar en la eliminacion de dicho negocio de nuestra aplicacion.

Los usuarios podrian denunciar tambien la inactividad de un negocio que haya sido publicado, y tambien procederemos a comprobar dicha inactividad, y si llegase a ser efectiva se eliminar la publicación.

En casos no tan serveros o extremistas en MUSE determinamos un sistema de sanción donde los usarios pueden denunciar a los actores comerciales dentor de la paltaforma, aportando pruebas, si se llegara a comprobar la veracidad de la denuncia se sancionara con 1 stike, en la caso de acumular 3 strikes, se llegara a la suspension o baneo por un tiempo a determinar, o a la eliminación de cuenta segúm sea el caso.

Por parte de los comerciantes y prestadores de servicios que hayan recibido una denuncia, se les notificara, y se les dará su derecho a replica, esto determinara si se le aplica o no sanción.

Por ultimo, la empresa se reserva el derecho de sancionar o eliminar a las empresas publicadas en MUSE, si una vez evaluado el caso, determinaramos que es lo justo, sin ya ningún derecho a replica.

8. Limitación de Responsabilidad
No nos hacemos responsables por daños directos o indirectos derivados del uso del sitio o de la imposibilidad de acceder al mismo.
No garantizamos que el sitio esté libre de errores o interrupciones.
9. Enlaces a Terceros
Nuestro sitio puede contener enlaces a otros sitios web. No tenemos control sobre su contenido y no somos responsables de sus términos o políticas de privacidad.

10. Modificaciones a los Términos
Nos reservamos el derecho de modificar estos términos en cualquier momento. Los cambios serán efectivos una vez publicados en el sitio.

11. Contacto
Si tienes alguna pregunta sobre estos Términos y Condiciones, puedes contactarnos en mercadosunidos_se@gmail.com. -->

    
