
---
import Layout from "../layouts/Layout.astro"
---

<Layout>

    <div class="bg-black text-gray-800 p-6">
        <div class="max-w-4xl mx-auto bg-gray-900 shadow-lg rounded-lg p-8 border border-gray-700 shadow-gray-950">
            <a href="/" class="cursor-pointer hover:opacity-50">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 512 512">
                    <path fill="#555" d="M497.333 239.999H80.092l95.995-95.995l-22.627-22.627L18.837 256L153.46 390.623l22.627-22.627l-95.997-95.997h417.243z"/>
                </svg>
            </a>
            <div class="flex justify-center mb-5">
                <img src="../../public/IMGs/logo.png" alt="logo" class="shadow-md shadow-gray-950 w-28 h-28 border-2 border-cyan-700 rounded-full">
            </div>
    
            <h1 class="text-3xl font-bold text-center text-gray-600 mb-6">POLÍTICA DE PRIVACIDAD</h1>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">1. Introducción</h2>
            <p class="text-gray-600">En <strong>Mercados Unidos Santa Elena</strong>, valoramos tu privacidad y nos comprometemos a proteger tu información personal. Esta política describe cómo recopilamos, utilizamos y protegemos tus datos.</p>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">2. Información que Recopilamos</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Datos personales proporcionados por ti al publicar tu actividad comercial que son envios a la base de datos y los datos que obtiene el proveedor de login OAuth.</li>
                <li>Información de navegación recopilada automáticamente en caso de que llegásemos a recopilar métricas de actividad en la página.</li>
                <li>En caso de filtraciones de datos o conflictos con servicios de terceros que no estén directamente relacionados con nuestra empresa, no asumimos responsabilidad ni nos hacemos cargo de posibles daños ocasionados.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">3. Uso de la Información</h2>
            <p class="text-gray-600">Utilizamos la información recopilada para:</p>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Proveer y mejorar nuestros servicios.</li>
                <li>Personalizar la experiencia del usuario.</li>
                <li>Mejorar la seguridad del sitio web.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">4. Protección de la Información</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Implementamos medidas de seguridad adecuadas para proteger la información de accesos no autorizados.</li>
                <li>Empresas multinacionales de terceros están encargadas de resguardar tus datos en sus bases de datos con sus políticas de seguridad.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">5. Cookies y Tecnologías Similares</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Podríamos llegar a usar cookies para mejorar tu experiencia de uso.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">6. Compartición de Datos</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>No vendemos ni compartimos datos personales con terceros, excepto cuando sea necesario para proveer nuestros servicios o cumplir con obligaciones legales.</li>
                <li>Los datos que nos proporcionas libremente son los que se comparten y se reflejan en la página. Estos datos no los comercializamos con terceros, solo los compartimos con empresas de bases de datos o servicios de login que son parte del servicio.</li>
                <li>Todos los datos que nos compartes son compartidos públicamente desde la página hacia los usuarios.</li>
                <li>No solicitamos ni recopilamos datos que puedan comprometer tu integridad en ningún aspecto, ya sean datos sensibles, económicos o personales íntimos, como datos bancarios.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">7. Derechos del Usuario</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Solicitar la eliminación de tus datos personales y comerciales.</li>
                <li>Solicitar la eliminación de la publicación en la página y de la publicidad.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">8. Cambios en la Política</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Nos reservamos el derecho de modificar esta política en cualquier momento. Los cambios serán efectivos al momento de su publicación, sin necesidad de notificación previa.</li>
            </ul>
            
            <h2 class="text-xl font-semibold text-black mt-4 mb-2">9. Contacto</h2>
            <ul class="list-disc pl-6 text-gray-600">
                <li>Si tienes preguntas sobre nuestra Política de Privacidad, puedes contactarnos en <strong>mercadosunidos_se</strong>.</li>
            </ul>
        </div>
    </div>
    
</Layout>

    
