---
const siteKey = "0x4AAAAAABCNmOzraV7rhN1s";
---

<div id="popup-denuncia" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-5 w-full max-w-md h-auto bg-gray-950/70 rounded-md">
        <div class="relative rounded-lg  border border-gray-500">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-denuncia">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 text-center flex flex-col gap-4">
                <div class="flex w-ful justify-center mt-3 mb-5">
                    <img src="../../public/IMGs/logo.png" class=" w-18 object-cover rounded-full border-3 border-cyan-800" alt="logo">
                </div>
                
                <form id="denuncia-Form">
                    <div class="flex gap-2 items-center justify-start mb-3">
                        <label for="denuncia" class="text-gray-300 text-xs"> Tipo de denuncia</label>
                        <select name="denuncia" id="denuncia" class="w-1/2 bg-gray-950/70  text-gray-300 h-8 rounded-lg border border-cyan-600 text-xs">
                          <option class="hover:bg-cyan-800 hover:text-gray-500 text-xs"></option>
                          <option class="hover:bg-cyan-800 hover:text-gray-500 text-xs" value="noexiste-inactivo">El negocio ya no existe/ inactivo</option>
                          <option class="hover:bg-cyan-800 hover:text-gray-500 text-xs" value="info-desactualizada">Infomación erronea o desactualizada</option>
                          <option class="hover:bg-cyan-800 hover:text-gray-500 text-xs" value="estafa">Es estafa</option>
                          <option class="hover:bg-cyan-800 hover:text-gray-500 text-xs" value="otro-motivo">Otro motivo</option>
                      </select>
                    </div>
                    <small class="text-cyan-600 text-xs mt-2">Necesitamos que nos des los motivos de la denuncia y dejes un email de contacto.
                        Ni bien recibamos tu denuncia la evaluaremos y te estaremos contactando para continuar con el proceso.
                    </small>
                    <div class="flex text-gray-100 gap-2 items-center mt-3 mb-4">
                        <label class="text-xs" for="email">E-mail:</label>
                        <input type="email" id="email" class="border-cyan-600 w-80 h-8 text-xs rounded-lg bg-transparent outline-none focus:border-none placeholder:text-xs" placeholder="mariagonzalez_1@gmail.com">
                    </div>
                    <div class="mt-3 mb-3 flex justify-start">
                      <p id="validacion-email" style="display: none"></p>
                    </div>
                    <div class="text-gray-100 flex flex-col gap-2 items-start w-full">
                        <label class="text-xs" for="mensaje">Mensaje:</label>
                        <textarea maxlength="500" id="mensaje" class="w-full text-xs border-cyan-600 bg-transparent rounded-lg h-36" name="mensaje" id="mensaje" placeholder="Detallanos los motivos de la denuncia..."></textarea>
                    </div>
                    <div class="mt-3 mb-2 flex justify-start">
                      <p id="validacion-descripcion" style="display: none"></p>
                    </div>
                    <div class="flex mt-4">
                      <div class="cf-turnstile" data-sitekey={siteKey}></div>
                    </div>
                    <button type="submit" id="submit-btn" class="cursor-pointer rounded-lg text-gray-300 mt-2 border border-gray-400 bg-cyan-900 w-full h-12">Enviar</button>
                </form>
                <small class="text-cyan-600 text-xs mt-2">Para saber más sobre nuestra politica de denuncia <a href="/terminosycondiciones" class="text-gray-300 cursor-pointer">ingresa aquí</a>.</small>
            </div>
        </div>
    </div>
</div>

<script type="module">
  import { initializeApp } from 'https://www.gstatic.com/firebasejs/11.4.0/firebase-app.js';
  import { getFirestore, doc, getDoc, setDoc, enableIndexedDbPersistence } from 'https://www.gstatic.com/firebasejs/11.4.0/firebase-firestore.js';
  
  const firebaseConfig = {
    apiKey: "AIzaSyDavU9YjgE1MM8buptQ1hOOoohrsMOriCs",
  authDomain: "comercios-unidos-se.firebaseapp.com",
  projectId: "comercios-unidos-se",
  storageBucket: "comercios-unidos-se.firebasestorage.app",
  messagingSenderId: "561779340978",
  appId: "1:561779340978:web:dfdf091ddec7db324dfbab"
  };
  
  const app = initializeApp(firebaseConfig);
  const db = getFirestore(app);
  
  enableIndexedDbPersistence(db)
    .then(() => {
        console.log("Persistencia offline habilitada");
    })
    .catch((error) => {
        console.error("Error al habilitar la persistencia offline:", error);
    });  

  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('denuncia-Form');
    
    if (!form) {
      console.error('No se activó el formulario');
      return;
    }

    form.addEventListener('submit', async (event) => {
      
      event.preventDefault();
      console.log('Flujo del formulario activado');

      const emailInput = form.querySelector('#email');
      const mensajeInput = form.querySelector('#mensaje');
      const tipoDenuncia = form.querySelector('#denuncia');
      const submitBtn = form.querySelector('#submit-btn');

      if (!emailInput || !mensajeInput || !tipoDenuncia|| !submitBtn) {
        console.error('Elementos del formulario no encontrados');
        return;
      }

      submitBtn.disabled = true;
      submitBtn.textContent = 'Enviando...';

      if (emailInput.value === '') {
        alert("Coloca un e-mail de contacto.");
        submitBtn.disabled = false;
        submitBtn.textContent = 'Enviar';
        return;
      }


      if(mensajeInput.value === ''){
      alert("Describe la denuncia");
        submitBtn.disabled = false;
        submitBtn.textContent = 'Enviar';
        return;
      }

      if(!tipoDenuncia.value){
        alert("Selecciona un tipo de denuncia")
        submitBtn.disabled = false;
        submitBtn.textContent = 'Enviar';
        return
      }

      let email = emailInput.value.trim().toLowerCase();

      email = email.replace(/\./g, '_').replace(/[^a-zA-Z0-9_@-]/g, ''); 

      console.log("Email procesado:", email);
  
      try {
        const docRef = doc(db, 'Denuncias', email);
        console.log("ID del documento que estamos intentando verificar:", docRef.id);

        const docSnap = await getDoc(docRef);
        console.log("Documento ya existe:", docSnap.exists()); 

        if (docSnap.exists()) {
          alert("Este e-mail ya ha enviado un mensaje. Te responderemos a la brevedad.");
          submitBtn.disabled = false;
          submitBtn.textContent = 'Enviar';
          form.reset()
          return;
        }

        await setDoc(docRef, {
          email: email,
          mensaje: mensajeInput.value.trim(),
          tipoDenuncia: tipoDenuncia.value,
          timestamp: new Date()
        });

        console.log("Documento guardado con ID:", docRef.id);
        alert("Tu mensaje fue enviado exitosamente. ¡Gracias! 😀");
        submitBtn.disabled = false;
        submitBtn.textContent = 'Enviar';
        form.reset()
        
      } catch (error) {
        console.error('Error:', error);
        alert('Hubo un error de conexion al enviar tu denuncia, vuelve a intentarlo');
        submitBtn.disabled = false;
        submitBtn.textContent = 'Enviar';
      }
        
    });
  });

  </script>