
    
    <div id="donar-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-5 w-full max-w-md max-h-full  bg-gray-950  rounded-md">
            <div class="relative rounded-lg bg-gray-950/80 border border-gray-600">
                <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center hover:bg-gray-600 " data-modal-hide="donar-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
               <div class="w-full  h-auto pb-5">
                    <h5 class="text-cyan-600 p-4 text-lg font-bold">¿Qué es MUSE?</h5>
                    <p class="text-gray-300 px-4">Mercados Unidos Santa Elena (MUSE) es una solución que intenta reunir toda la información disponible de los comercios
                        y servicios comerciales que se ofrecen en la ciudad, permitiendo a dichos actores exponerse para generar potenciales clientes de manera gratuita.
                        Somos una plataforma donde comerciantes, profesionales y todo aquel que quiera
                        comercializar con un producto o servicio pueda publicitarse libremente ante la sociedad.</p>
                    <h5 class="text-lg font-bold text-cyan-600  p-4">¿Cómo funciona MUSE?</h5>
                    <p class="text-gray-300 px-4">Simplemente entras en la web, vas a "Publica tu negocio", cargas los datos y esperas a que nosotros, en un transcurso
                        de 48 horas hábiles, te contactemos para confirmar la veracidad de dichos datos. Si el proceso es exitoso, en un máximo de 8 horas verás tu marca o servicio
                        publicitado en la página.</p>
                    
               </div>
            </div>
        </div>
    </div>